*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
h1{
  background-color:#0D0908;
  color:white;
  height: 5rem;
  line-height: 5rem;
}
.images{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.choice{
    width:200px;
    height: 200px;
}
img{
    width: 150px;
    height: 150px;  
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.score-board{
     display: flex;
     justify-content: center;
     align-items: center;
     gap:3rem;
     /* font-family:"Playfair Display", serif ; */
     font-size: 2rem;
}
.msg-container{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#msg{
  font-size: 2rem;
  background-color: #E2DFD0;
  color: #040303;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
#score{
   font-size: 3rem;
}
#btn{
  background-color: #F5F7F8;
   margin-top:1rem;
   border-radius: 1rem;
   padding: 1rem;
   cursor: pointer;
   font-family:"Playfair Display", serif ;
}
button:hover{
  box-shadow: 0 0 8px  black;
  transition: box-shadow 0.3s ease
}
img:hover {
  box-shadow: 0 -2px 1rem 2px #0F0F0F; /* Adjust the values as needed */
            /* Add 'position: relative;' if necessary */
}